.container-videos{
    padding-top: 120px;
    padding-bottom: 200px;
    height: 100%;
}
.videos-recomendados a{
    width: 45%;
    height: 300px;
    margin-right: 43px;
    background: #8C8;
    border-radius: 25px;
    /*box-shadow: 0px 9px 17px #00000080;*/
    margin-top: 20px;
}
.flickity-viewport{
    height: 360px !important;
}
.flickity-prev-next-button{
    top: 105%;
    height: 60px;
    width: 60px;
}
.flickity-prev-next-button .next, .flickity-prev-next-button .previous{
    height: 60px;
    width: 60px;
}
.flickity-page-dots{
    display: none;
}
.videos-recomendados h2{
    text-align: center;
    font-size: 70px;
}