@font-face {
  font-family: DMRegular;
  src: url(fonts/DMSerifDisplay-Regular.ttf);
}
@font-face {
  font-family: DMItalic;
  src: url(fonts/DMSerifDisplay-Italic.ttf);
}
@font-face {
  font-family: TekoMedium;
  src: url(fonts/Teko-Medium.ttf);
}
@font-face {
  font-family: TekoRegular;
  src: url(fonts/Teko-Regular.ttf);
}
h1, h2, h3, h4, h5, span, p, a, button, ul, li, strong{
	font-family: TekoRegular, sans-serif;
}

.main-menu{
  background-color: #000;
}
.main-menu .container{
  display: flex;
  height: 120px;
  align-items: center;
}
.menu-itens{
  display: inline-flex;
  align-items: center;
  width: 100%;
  justify-content: right;
  height: 100%;
}

.dropdown-menu{
  display: none;
  border-radius: 0;
  background: rgb(102, 51, 204, 0.6) 0% 0% no-repeat padding-box;
  min-width: 9rem;
}

.menu-logo a img{
  width: 100px;
  margin-left: 2rem;
}

#menu-principal .dropdown-menu li a{
  font-size: 21px;
  padding: 3px 15px;
  border: none;
}

#menu-principal .dropdown-menu li{
  border-bottom: 1px solid rgb(255,255,255, 0.4);
}

#menu-principal .dropdown-menu li:last-child{
  border-bottom: none;
}

#menu-principal .dropdown-menu li a:hover, #menu-principal .dropdown-menu li a:focus{
  background-color: #6633CC;
}

#menu-principal{
  display: inline-flex;
  list-style: none;
  margin: 0;
}
#menu-principal li a{
  color: #C59698;
  text-decoration: none;
  padding: 0 15px;
  font-size: 32px;
}
#menu-principal .open a{
  border-bottom:4px solid #6633CC;
}
#menu-principal li a:hover{
  border-bottom:4px solid #6633CC;
}
.btn-orcamento{
  background: #6633CC;
  border-radius: 30px;
}
.btn-orcamento a{
  color: #fff !important;
}
#menu-principal .btn-orcamento a:hover{
  color:#fff !important;
  border: none;
}

.dropdown-toggle::after{
  display: none;
}